// .menuItem {
//     a {
//         pointer-events: all;
//         font-weight: 100;
//         text-decoration: underline;
//     }

//     &.active {
//         a {
//             pointer-events: none;
//             font-weight: 800;
//             text-decoration: none;
//         }
//     }
// }