
.pricingCheckbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .pricingCheckboxItem {
        display: flex;
        flex-direction: column;

        .pricingCheckboxText {
            display: flex;
            flex-direction: row;
        }
    }
}