.pricingSelect {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .pricingSelectItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 255px;
        height: 360px;
        border: solid 1px rgb(193, 211, 210);
    }
}