.message {
    .messageItem {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 410px;

        input,
        textarea {
            height: 45px;
            width: 510px;
            border: solid 1px rgb(193, 211, 210);
            box-shadow: -1px 0px rgb(193 211 210 / 20%), 1px 2px rgb(193 211 210 / 20%);
            text-transform: capitalize;

            &[name="message"] {
                height: 125px;
                resize: none;
            }

            &[name="submit"] {
                text-transform: uppercase;
                cursor: pointer;
                width: 193px;
                background-color: rgb(111, 176, 72);
                border-radius: 3px;
            }
        }
    }
}
