.line {
    height: 1px;
    width: 65px;
    background-color: rgb(111, 176, 72);
}
.supportSection {
    display: flex;
    flex-direction: column;
    align-items: center;

    .iconsText {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        .support {
            & a {
                text-decoration: none;
            }
        }
    }
}

