@import "../../scss/fonts.scss";

.line {
    height: 1px;
    width: 65px;
    background-color: rgb(111, 176, 72);
}

.aboutUs {

    .welcome {
        background-image: url('../../assets/images/aboutUs/bgHeader.png');   
        background-position: 0px -85px;
        height: 515px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .welcomeItem {
            width: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: rgb(255, 255, 255);

            div {
                @extend .robotoLight, .font-s-50, .line-h-60;
            }
        }
        
        button {
            @extend .montserratRegular, .font-s-14, .line-h-20;
            width: 235px;
            height: 50px;
            border: none;
            border-radius: 3px;
            background-color: rgb(111, 176, 72);
            color: rgb(255, 255, 255);
            text-transform: uppercase;
        }
    }

    .iconsSection {
        height: 625px;
        width: 100%;
        display: flex;
        justify-content: center;

        .iconsItem {
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            .iconsText {
                display: flex;
                flex-direction: column;
                align-items: center;
                
                
                :nth-child(1){
                    @extend .robotoLight, .font-s-32, .line-h-20;
                    color: rgb(15, 95, 92);
                }

                :nth-child(3){
                    @extend .robotoRegular, .font-s-15, .line-h-22;
                    color: rgb(131, 167, 165);
                }
            }
    
            .ionicons {
                display: flex;
                flex-direction: row;
                align-items: center;
        
                .ioniconsItem {
                    @extend .robotoRegular;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    :nth-child(2){
                        @extend .font-s-16, .line-h-20;
                        color: rgb(15, 95, 92);
                    }
    
                    :nth-child(3){
                        @extend .font-s-14, .line-h-22;
                        color: rgb(131, 167, 165);
                    }
                }
            }
        }
        
    }

    .teamSection {
        height: 660px;
        width: 100%;
        display: flex;
        justify-content: center;

        .iconsItem {
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            // align-items: center;
    
            .iconsText {
                display: flex;
                flex-direction: column;
                align-items: center;

                :nth-child(1){
                    @extend .robotoLight, .font-s-32, .line-h-20;
                    color: rgb(15, 95, 92);
                }

                :nth-child(3){
                    @extend .robotoRegular, .font-s-15, .line-h-22;
                    color: rgb(131, 167, 165);
                }
            }
    
            .ionicons {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
        
                .ioniconsItem {
                    width: 28%;
                    height: 180px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    :nth-child(2){
                        @extend .robotoMedium, .font-s-15, .line-h-22;
                        color: rgb(15, 95, 92);
                    }
    
                    :nth-child(3){
                        @extend .robotoRegular, .font-s-14, .line-h-22;
                        color: rgb(131, 167, 165);
                    }
                }
            }
        }
    }
}
