.iconsText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line {
    height: 1px;
    width: 65px;
    background-color: rgb(111, 176, 72);
}
.pricing {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    

    .plan {
        width: 100%;
        background-color: rgb(238, 241, 236);
        display: flex;
        align-items: center;
        flex-direction: column;

        .planItem {
            height: 675px;
            width: 70%;
        }
    }

    .includedSection {
        width: 70%;
        height: 625px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}


