@import "../../scss/fonts.scss";


.line {
    height: 1px;
    width: 65px;
    background-color: rgb(111, 176, 72);
}

.iconsText {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    :nth-child(1){
        @extend .robotoLight, .font-s-32, .line-h-20;
        color: rgb(15, 95, 92);
    }
    :nth-child(3){
        @extend .robotoRegular, .font-s-14, .line-h-22;
        color: rgb(131, 167, 165);
    }
}


.home {
    .welcome {
        background-image: url("../../assets/images/home/bgHeader.png");
        background-position: 0px -85px;
        height: 575px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: rgb(255, 255, 255);

        .welcomeItem {
            width: 70%;
            display: flex;
            flex-direction: column;

            :nth-child(1){
                @extend .robotoRegular, .font-s-38, .line-h-21;
            }

            :nth-child(2){
                @extend .robotoRegular, .font-s-16, .line-h-24;
            }
            
        }

        button {
            @extend .montserratRegular, .font-s-14, .line-h-20;
            width: 186px;
            height: 50px;
            border: none;
            background-color: rgb(111, 176, 72);
            text-transform: uppercase;
            color: rgb(255, 255, 255);
        }
    }

    .iconsSection {
        height: 985px;
        width: 100%;
        display: flex;
        justify-content: center;

        .iconsItem {
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .ionicons {
                display: flex;
                flex-direction: row;
                align-items: center;
                

                .ioniconsItem {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    :nth-child(2){
                        @extend .robotoRegular, .font-s-16, .line-h-22;
                        color: rgb(15, 95, 92);
                    }
        
                    :nth-child(3){
                        @extend .robotoRegular, .font-s-14, .line-h-22;
                        color: rgb(131, 167, 165);
                    }

                    
                }
            }

            .iconsWay {
                display: flex;
                flex-direction: column;

                .iconsWayItem {
                    display: flex;
                    flex-direction: row;

                    .iconsIdia {
                        display: flex;
                        flex-direction: column;
                        width: 50%;

                        :nth-child(2){
                            @extend .robotoRegular, .font-s-14, .line-h-22;
                            color: rgb(131, 167, 165);
                        }

                        .iconsIdiaItem {
                            display: flex;
                            flex-direction: row;
                            align-items: center;

                            :nth-child(2){
                                @extend .robotoRegular, .font-s-16, .line-h-22;
                                color: rgb(15, 95, 92);
                            }
            
                        }
                    }
                }
            }
        }
    }

    .phoneSection {
        height: 655px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(238, 241, 236);

        .phoneItem {
            width: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .phoneScreen {
                display: flex;
                flex-direction: row;

                .hand {
                    width: 47%;
                }

                .phoneScreenItem {
                    display: flex;
                    flex-direction: column;
                    width: 53%;

                    :nth-child(1){
                        @extend .robotoLight, .font-s-32, .line-h-20;
                        color: rgb(15, 95, 92);
                    }

                    :nth-child(2){
                        @extend .robotoRegular, .font-s-14, .line-h-22;
                        color: rgb(131, 167, 165);
                    }

                    .phoneScreenItemText {
                        display: flex;
                        flex-direction: row;
                    }
                }
            }
        }
    }
    .reviewSection {
        height: 680px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .review {
            width: 70%;
            display: flex;
            flex-direction: row;
            align-items: center;

            .reviewText {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;

                :nth-child(1){
                    @extend .merriweatherLight, .font-s-22, .line-h-40;
                    color: rgb(131, 167, 165);
                }

                :nth-child(2){
                    @extend .robotoMedium , .font-s-14, .line-h-22;
                    color: rgb(111, 176, 72);
                }

                :nth-child(3){
                    @extend .robotoRegular, .font-s-14, .line-h-22;
                    color: rgb(131, 167, 165);
                }
            }

            .reviewPicture {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .mapSection {
        height: 505px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../../assets/images/home/map.png");

        .map {
            width: 70%;
            display: flex;

            .mapText {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                :nth-child(1){
                    @extend .robotoLight, .font-s-32, .line-h-20;
                    color: rgb(15, 95, 92);
                }

                :nth-child(2){
                    @extend .robotoRegular , .font-s-14, .line-h-24;
                    color: rgb(131, 167, 165);
                }
            }
        }
    }

    .pricingSection {
        height: 1215px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .pricing {
            width: 70%;
            display: flex;
            flex-direction: column;


            // .support {
            //     & a {
            //         text-decoration: none;
            //     }
            // }
        }
    }
}
