.header {
    background-image: url("../../assets/images/header/bgHeaderHome.png");
    height: 85px;
    width: 100%;

    .menuSection {
        display: flex;
        justify-content: center;

        .menu {
            width: 70%;
            height: 13%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
    
            .wapik {
                display: flex;
                flex-direction: row;
            }

            .menuClass {
                display: flex;
                flex-direction: row;
                list-style-type: none;

                div {
                    div{
                        a {
                            pointer-events: all;
                            font-weight: 100;
                            text-decoration: underline;
                        }
                        &.active {
                            a {
                                pointer-events: none;
                                font-weight: 800;
                                text-decoration: none;
                            }
                        }
                    }

                }
            }
        }
    }
}
