.line {
   height: 1px;
   width: 65px;
   background-color: rgb(111, 176, 72);
}

.contactUs {
   .map {
      background-image: url("../../assets/images/contactUs/map.png");
      height: 400px;
   }

   .iconsSection {
      height: 985px;
      width: 100%;
      display: flex;
      justify-content: center;

      .iconsItem {
         width: 70%;
         display: flex;
         flex-direction: column;
         justify-content: center;

         .iconsText {
            display: flex;
            flex-direction: column;
            align-items: center;
         }

         .ionicons {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
         
            .headquarter {
               width: 340px;
               height: 270px;
               border: dashed 2px rgb(193,211,210);
               display: flex;
               flex-direction: column;
               justify-content: space-evenly;

               .headquarterItem {
                  display: flex;
                  flex-direction: row;

                  .headquarterText {
                     display: flex;
                     flex-direction: column;
                  }
               }
            }
         }
      }
   }
}
