.footer {
    width: 100%;

    .downloadSection {
        height: 200px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-image: url('../../assets/images/footer/bgDownload.png');

        .downloadItem {
            width: 70%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .downloadText {
                display: flex;
                flex-direction: column;
            }
        }   
    }

    .footerContent {
        height: 355px;
        display: flex;
        justify-content: center;


        .footerContentItem {
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            
            .wapik {
                display: flex;
                flex-direction: row;

                .wapikItem {
                    width: 25%;
                    display: flex;
                    flex-direction: column;
    
                    input{
                        background: url(../../assets/images/footer/plane.png) no-repeat right;
                    }
                }
            }
            
            .footerLine {
                width: 100%;
                height: 1px;
                background-color: rgb(238, 241, 236);
            }

            .footerIcons {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .footerIconsItem {
                    display: flex;
                    flex-direction: row;
                }
            }
        }

    }
}