@font-face {
    font-family: "proximaNovaBold";
    src: url("/assets/fonts/proximaNovaBold/proximaNovaBold.eot");
    src: url("/assets/fonts/proximaNovaBold/proximaNovaBold.eot") format("embedded-opentype"),
        url("/assets/fonts/proximaNovaBold/proximaNovaBold.woff") format("woff"),
        url("/assets/fonts/proximaNovaBold/proximaNovaBold.ttf") format("truetype"); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "merriweatherLight";
    src: url("/assets/fonts/merriweatherLight/merriweatherLight.eot");
    src: url("/assets/fonts/merriweatherLight/merriweatherLight.eot") format("embedded-opentype"),
        url("/assets/fonts/merriweatherLight/merriweatherLight.woff") format("woff"),
        url("/assets/fonts/merriweatherLight/merriweatherLight.ttf") format("truetype"); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "montserratRegular";
    src: url("/assets/fonts/montserratRegular/montserratRegular.eot");
    src: url("/assets/fonts/montserratRegular/montserratRegular.eot") format("embedded-opentype"),
        url("/assets/fonts/montserratRegular/montserratRegular.woff") format("woff"),
        url("/assets/fonts/montserratRegular/montserratRegular.ttf") format("truetype"); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "robotoLight";
    src: url("/assets/fonts/robotoLight/robotoLight.eot");
    src: url("/assets/fonts/robotoLight/robotoLight.eot") format("embedded-opentype"),
        url("/assets/fonts/robotoLight/robotoLight.woff") format("woff"),
        url("/assets/fonts/robotoLight/robotoLight.ttf") format("truetype"); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "robotoMedium";
    src: url("/assets/fonts/robotoMedium/robotoMedium.eot");
    src: url("/assets/fonts/robotoMedium/robotoMedium.eot") format("embedded-opentype"),
        url("/assets/fonts/robotoMedium/robotoMedium.woff") format("woff"),
        url("/assets/fonts/robotoMedium/robotoMedium.ttf") format("truetype"); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "robotoRegular";
    src: url("/assets/fonts/robotoRegular/robotoRegular.eot");
    src: url("/assets/fonts/robotoRegular/robotoRegular.eot") format("embedded-opentype"),
        url("/assets/fonts/robotoRegular/robotoRegular.woff") format("woff"),
        url("/assets/fonts/robotoRegular/robotoRegular.ttf") format("truetype"); 
    font-weight: normal;
    font-style: normal;
}


.proximaNovaBold {
    font-family: "proximaNovaBold";
}

.merriweatherLight {
    font-family: "merriweatherLight";
}

.montserratRegular {
    font-family: "montserratRegular";
}

.robotoLight {
    font-family: "robotoLight";
}

.robotoMedium {
    font-family: "robotoMedium";
}

.robotoRegular {
    font-family: "robotoRegular";
}

$sizes: 12, 13, 14, 15, 16, 22, 28, 32, 38, 50;

@each $size in $sizes {
  .font-s-#{$size} {
    font-size: #{$size}px;
  }
}

$line-hs: 20, 21, 22, 24, 28, 35, 40, 60;

@each $height in $line-hs {
    .line-h-#{$height} {
        line-height: #{$height}px;
    }
  }

